# Core API + schema

fastapi
uvicorn
pydantic
requests

# Computer vision + model runtimes

opencv-python
numpy
ultralytics
torch
torchvision

# Face recognition stack

deepface
tensorflow

# TTS stack

pygame
piper-tts

# Additional dependencies

absl-py
annotated-doc
annotated-types
anyio
astunparse
attrs
beautifulsoup4
blinker
certifi
charset-normalizer
click
coloredlogs
dlib
eido
filelock
fire
Flask
flask-cors
flatbuffers
gast
gdown
google-pasta
grpcio
gunicorn
h11
h5py
humanfriendly
idna
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
libclang
lightdsa
lightecc
lightphe
logmuse
lz4
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
mpmath
mtcnn
namex
onnxruntime
opt_einsum
optree
packaging
pandas
pephubclient
peppy
pillow
piper
pipestat
protobuf
psutil
pydantic_core
Pygments
PySocks
python-dateutil
python-dotenv
pytz
PyYAML
referencing
retina-face
rich
rpds-py
shellingham
six
soupsieve
starlette
sympy
termcolor
tqdm
typer
typing-inspection
typing_extensions
tzdata
ubiquerg
urllib3
Werkzeug
wrapt
yacman
